<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Prédiction du prix de la maison</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="register_page">
        <div class="form">
            <form action="{{url_for('predict')}}" method="POST">

                Année de construction: <input type="number" name='Year Built' placeholder="Quelle est l'année de construction?"><br>
                Surface (sqft) de la cave : <input type="number" name='BsmtFin SF 1' placeholder="Surface de la cave en m2"><br>
                Surface totale : <input type="number" name='House Area' placeholder="Surface du 1er étage en m2"><br>
                Surface habitable au sol : <input type="number" name='Gr Liv Area' placeholder="Surface habitable en m2"><br>
                Nombre de cheminées : <input type="number" name='Fireplaces' placeholder="Surface du garage en m2"><br>
                Qualité générale des finitions et des matériaux : <input type="number" name='Overall Qual' placeholder="Qualité entre 1 (très mauvais) et 10 (Excellent)"><br>
                Qualité de la cave : <input type="number" name='Bsmt Qual' placeholder="Nombre de salles de bain"><br>
                Qualité de la cuisine : <input type="text" name='Kitchen Qual' placeholder=" Ex:Excellent, Gd:Good, TA:Average, Fa:Fair, Po:Poor"><br>
                Année de rénovation : <input type="text" name='Year Remod/Add' placeholder="Ex:Excellent, Gd:Good, TA:Average, Fa:Fair, Po:Poor"><br>
                Quartier :
                <select name="Neighborhood">
                    {% for n in neighborhoods %}
                        <option value="{{n}}">{{n}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="predict" class="submit">
            </form>
            <p> La maison vaut: {{data}}</p>
        </div>

    </div>


</body>

</html>